<form method="post" action="{{ path('agency_delete', {'agencyId': agency.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cette agence ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agency.id) }}">
    <button class="btn">Supprimer</button>
</form>
