{% extends 'base.html.twig' %}

{% block title %}Nouvelle agence{% endblock %}

{% block body %}
    <h1>Créer une nouvelle agence</h1>

    {{ include('agency/_form.html.twig') }}

    <a href="{{ path('agency_index') }}">Retour à la liste des agences</a>
    <a href="{{ path('home') }}">Retour à la page d'accueil</a>
{% endblock %}
