{% extends 'base.html.twig' %}

{% block title %} 404 - Page introuvable {% endblock %}

{% block body %}
    <h1 class="alert-danger text-center">Page introuvable (404)</h1>
    <p class="alert-danger text-center mb-4">La page que vous cherchez n'existe pas ou a été déplacée.</p>
    <a class="return" href="{{ path('home') }}">Retour à la liste des trajets</a>
{% endblock %}