<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Touche pas au klaxon {% endblock %}</title>
        {# Mettre plus tard ici le lien pour le bootstrap CSS#}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <header>
            <nav>
                <p> TODO Touche pas au klaxon connexion etc</p>
            </nav>
        </header>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        <footer>
            &copy; {{ "now"|date("Y") }} Touche pas au Klaxon
        </footer>

    </body>

</html>
