{% extends 'base.html.twig' %}

{% block title %}Modification d'un trajet{% endblock %}

{% block body %}
    <h1>Modification d'un trajet</h1>

    {{ include('journey/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="return" href="{{ path('home') }}">Retour à la liste des trajets</a>

{% endblock %}